<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="./l"> 로그인 </a>
    <a href=""> 회원가입 </a>

</div>
</body>
</html>