<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Final Test</title>
    <style>
    body{
        background-color: lightblue;
        }
    .all{
     background-color: skyblue
        }
    .box1 {
    float:right; margin: 10px; }
    .box2 {
    display:inline-block;  margin-left:10px; margin: 10px;}  

    </style>
</head>

<body>
    <div style="text-align: center">
        <h1  align="center"><b> 한성대학교 소통창 </b></h1>
        <div class="all" style="height: auto; border-radius: 2em; padding: 5px; width: 50%; border:1px solid black;">
        <% if(!locals.id){ %>
        <a href="./user/login_form">로그인</a>
        <a href="./user/join_form">회원가입</a>
        <%} else {%>
            <a href="./user/logout_proc">로그아웃</a>
            <a href="./user/profile_mod_form">프로필 수정</a>
         <%}%>
        <a href="./board/list">자료보기</a>
        <a href="./board/upload_form">자료업로드</a>    
         </div>
    </div>
</body>
</html>